<!DOCTYPE html> 

<!-- 
Assignment Name: template
File Name: contact.html
Date: 02/11/2019
Programmer:Josh Brenneman
-->

<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
    
<title>Contact</title>

<link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link href="css/helper.css" rel="stylesheet" type="text/css">
<link href="css/grid.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
    
</head>
<body>
    <main>
    
    <header>
            <button class="hamburger">&#9776;</button>
            <button class="cross">&#735;</button>
        <h4>header</h4>
    </header>
    
   
    <div class="menu">
      <ul>
        <li><a href="template.html">Home</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="registration.html">Registration</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>  <!-- menu -->
    
    <section id="hero">
        <h1>Heading (h1)</h1>
        <img src="images/placeholder.png" alt="Hero Image">
    </section>
        
    <nav class="desktopMenu">
      <ul>
        <li><a href="template.html">Home</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="registration.html">Registration</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
        
    </nav>   
        


       
    
    
    
     <footer>
        <a href="https://www.facebook.com">
        <i class="fab fa-facebook-f"></i>
        </a> 
        <a href="https://twitter.com">
        <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.pinterest.com/">
        <i class="fab fa-pinterest-p"></i>
        </a>
        <a href="https://www.instagram.com/">
        <i class="fab fa-instagram"></i>
        </a>
        <h4>footer</h4>
    </footer>
    </main>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="scripts/ace.js"></script>

    </body>
</html>